.estimation__page {
    padding: 30px;

    .estimation__page__heading {
        font-weight: 500;
    }
    .breadcrum {
        font-size: 12px;
        margin: 0;
    }

    .estimation__page__product__details {
        width: 80%;
        margin: 20px 0;
        height: 60vh;
        border-radius: 10px;
        display: flex;
        align-items: center;

        .btn__get__exactvalue {
            width: 200px;
        }
    }
    .estimation__page__price {
        color: #ff6565;
        font-size: 30px;
        font-weight: 600;
    }

    .hint-text {
        display: flex;
        font-size: 14px;
        p {
            margin-right: 2px;
        }
    }
}
@media (max-width: 450px) {
    .estimation__page {
        .estimation__page__product__details {
            margin: 10px auto;
            display: block;
            width: auto;
            columns: auto;
            .img-container {
                width: auto;
                display: flex;
            }
            .product__specs {
                display: flex;
                flex-direction: column;
                width: auto;
            }
            .margin-auto {
                margin: auto;
            }
        }
    }
}
